<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi Harga Lele</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Prediksi Harga Lele</h1>

      {% for city, graph_html in predictions_for_cities.items() %}
      <h2>Prediksi Harga Lele di {{ city }}</h2>
      <div>{{ graph_html | safe }}</div>
      {% endfor %}
    </div>
  </body>
</html>
